.login {
  .main {
    width: 7.5rem;
    box-sizing: border-box;
    height: 100%;
    padding: .2rem .3rem;
    form {
      margin: 0;
      display: block;
      width: 7.5rem-0.6rem;
      .form-line {
        margin-bottom: .2rem;
        label {
          width: 2rem;
          height: .8rem;
          line-height: .8rem;
          text-align: right;
          font-size: .38rem;
          display: inline-block;
        }
        input {
          display: inline-block;
          height: .5rem;
          line-height: .5rem;
          font-size: .38rem;
          outline: none;
          border-radius: .1rem;
        }
      }
      button {
        display: block;
        width: 4.5rem;
        height: .5rem;
        border-radius: .1rem;
        margin: 0 auto;
        color: #fff;
        font-size: .3rem;
        outline: none;
        background-color: #333;
      }
    }
    .other {
      width: 7.5rem-0.6rem;
      margin-top: .18rem;
      height: .5rem;
      line-height: .5rem;
      font-size: .24rem;
      display: flex;
      justify-content: center;
      .option {
        width: 2rem;
        text-align: center;
      }
    }
  }
}