

.fadeInLeft-enter {
  opacity: 0;
  transform: translateX(-100%);
}


.fadeInLeft-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}


.fadeInLeft-exit {
  opacity: 1;
  transform: translateX(0);
}


.fadeInLeft-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
